.container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 50px;
    font-size: x-large
  }
  
  .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: x-large
  }

.fieldwithlabel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: x-large
  }

  
  input  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
    padding: 5px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 4px;
    padding: 15px 32px;
    font-size: 16px;
  };
  
  input::placeholder {
    font-size: Roboto;
    /* color:rgb(206, 195, 44) */
  }
  /* not working atm */

  select {
    width: 95%;
    font-size: 16px;
    font-family: Roboto;
    padding: 0.675em 6em 0.675em 1em;
    border-radius: 0.25rem;
    color: #000;
    cursor: pointer;
    /* Remove default styling */
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    /* Add custom arrow icon */
    background-image: url("../src/assets/arrow-down.svg");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 1.5em;
    margin: 10px;
    padding-right: 2em;
  };


