#root {
  max-width: 1280px;
  margin: 0;
  padding: 2rem;
  text-align: center;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 110%;
  min-width: 350px;
  min-height: 200px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  background-color: rgb(41, 96, 133, 0.7);
  border-radius: 3%;
}

.container:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  transform: scale(1.02);
}

body {
  background-image: url("../src/assets/Whale_1.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  font-family: 'Roboto', sans-serif;
  font-size: x-large;
  color: rgb(255, 255, 255);
}

h1 {
  text-align: center;
  font-size: 2rem;
  color: rgb(255, 255, 255);
  margin-top: 0;
}

p {
  text-align: center;
  padding: 0 20px;
  padding-bottom: 20px;
  line-height: 100px;
}

/* .fieldwithlabel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
  padding: 5px;
  background-color: rgb(206, 195, 44);
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 4px;
  padding: 15px 32px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
};

button:hover {
  background-color: skyblue;
}
/* not working atm */

/* input  {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
  padding: 5px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 4px;
  padding: 15px 32px;
  font-size: 16px;
};

input::placeholder {
  font-size: Roboto;
  color:rgb(206, 195, 44)
} */
/*not working atm */