#root {
  max-width: 1280px;
  margin: 0;
  padding: 2rem;
  text-align: center;
  box-sizing: border-box;
}

/* .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 110%;
  min-width: 350px;
  min-height: 200px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
  transition: 0.3s;
  background-color: rgba(33, 86, 122, 0.4);
  border-radius: 3%;
} */

.container{
  width: 100%;
  height: 110%;
  display: flex;
  flex-direction:row;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
  transition: 0.3s;
  background-color: rgba(33, 86, 122, 0.4);
  border-radius: 3%;
}


.container:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  transform: scale(1.02);
}

body {
  background-image: url("../src/assets/Whale_1.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  font-family: 'Roboto', sans-serif;
  font-size: x-large;
  color: rgb(255, 255, 255);
}

h1 {
  text-align: center;
  font-size: 2rem;
  color: rgb(255, 255, 255);
  margin-top: 0;
}

p {
  text-align: center;
  padding: 0 20px;
  padding-bottom: 20px;
  line-height: 100px;
}

button {
  appearance: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
  padding: 5px;
  background-color: rgb(206, 195, 44);
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 4px;
  padding: 15px 32px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
};

.button:hover {
  background-color: skyblue;
  cursor: pointer;
}
/* WHY IS THE BUTTON NOT CENTERED? */