:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  line-height: 1.5;
  /* font-weight: 400; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

select {
  width: 100%;
  font-size: 16px;
  font-family: Roboto;
  padding: 0.675em 6em 0.675em 1em;
  border-radius: 0.25rem;
  color: #000;
  cursor: pointer;
  /* Remove default styling */
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  /* Add custom arrow icon */
  background-image: url("../src/assets/arrow-down.svg");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 1.5em;
  margin: 10px;
  padding-right: 2em;
};



